<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
        </handlers>
    </system.webServer>
    <appSettings>
       <!-- <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" /> -->
        <add key="PYTHONPATH" value="D:\home\site\wwwroot" />
        <add key="DJANGO_SETTINGS_MODULE" value="app.settings" />
    </appSettings>
</configuration>
